/* yellow : R=254 V=231 B=161 rgba(254, 231, 161, 0.5)  */
/* red : R=137 V=88 B=100 rgba(137, 88, 100, 0.5)  */
/* green : R=219 V=230 B=188 rgba(219, 230, 188, 0.5)  */

/* ===============(0) Base ==================== */

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
    margin-top: 160px; 
}

section {
    margin: 10em 0;
}

h1,h2,h3,h4 {
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
}



h2{
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
}


*,*::after,*::before {
    box-sizing: inherit;
}

.container {
    width: 70%;
    margin: 0 auto;
}
/* 
p {
    min-width: 60%;
} */

.visible {
    display: none;
}


/* ===============(/0) Base ==================== */

/* ===============(1) Header ==================== */

header {
    /* display:none; */
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

#logo {
    padding: 1em;
    width: 10em;
}

#icon_burger {
    position: absolute;
    top: 1em;
    right: 1.5em;
    font-size: 2em;
    cursor: pointer;

}

#menuTop {
    background-color: #fff;

    /* width: 75vw; */
    box-shadow: 0em .1em .5em #c5c5c5;
    z-index: 100;
}

/* #menuTop:hover {
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
} */

#menuTop ul {
    list-style: none;
    margin: 0 auto;
    padding-left: 3em; 
}

#menuTop ul li {
    font-size: 16px;
    padding: 1em 0;
    text-align: left;
}

#menuTop ul li a{
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
}


/* ===============(/1) Header ==================== */

/* ===============(2) Main ==================== */



.imageStart {
    position: relative;
    /* background-color: #fff; */
    background-image: url("https://picsum.photos/1000/1000/?image=4");
    background-size: cover;
    background-position-y: center; 
  background-repeat: no-repeat;
    height: 15em;
}

.lignStart {
    position: absolute;
    bottom: 1em;
    width: 100%;
    
}

.colorLignRed {
    background-color: rgba(137, 88, 100, 1);
}
.colorLignYellow {
    background-color: rgba(254, 231, 161, 1);
}
.colorLignGreen {
    background-color: rgba(219, 230, 188, 1);
}

#product figure {
    display: flex;
    justify-content: center;
}

figure {

    /* position: relative; */
    margin: .5em;
    
}

figure .roundedImage {
    position: relative;
    width: 12.5em;
    height: 12.5em;
    border-radius: 50%;
    overflow:hidden;
    /* margin-bottom: 7em; */
}

#product figure img{
    position: absolute;
    top: 0;
    right: -20%;
    width: 165%;
    
    /* height: auto; */
}



figure figcaption {
    /* position: absolute; */
    top: 15em;
    margin: 0 auto;
    margin-bottom: 2em;
    /* position: absolute; */
    text-align: center;
}

#product a {
    color: #000;
    text-decoration: none;
}


/* ===============(/2) Main ==================== */

/* ===============(3) Footer ==================== */

footer {

    background-color: #c5c5c5;

    margin: 0;
    padding: 0;

}

footer p {
    margin: 0;
    padding: 1em 0 2em;
}



/* ===============(/3) Footer ==================== */

/* ===============(4) Media Queries ==================== */

@media all and (min-width:768px) {

    /* ===============(0) Base ==================== */
    html {
        font-size: 16px;

    }

    /* ===============(/0) Base ==================== */
    /* ===============(1) Header ==================== */

    #logo {
        width: 12em;
        margin: 0 auto;
        padding-bottom: 0em; 
    }

    .visible {
        display: block;
    }
    

    #menuTop ul {
        width: 100vw;
        padding: 0em;
        display: flex;
        justify-content: space-around;
    }



    #menuTop ul li a{
        font-size: 16px;
    }

    #icon_burger {
        display: none;
    }
    nav {
        display: block;
    }
    /* ===============(/1) Header ==================== */

    /* ===============(2) Main ==================== */

    #product #gallery {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #product figure {

        
        margin: 1em;
        /* max-width: 30%; */
        /* float: left; */
    }
    
    
    /* ===============(/2) Main ==================== */
    /* ===============(3) Footer ==================== */


    /* ===============(/3) Footer ==================== */

}
@media all and (min-width:1024px) {

    /* ===============(0) Base ==================== */

    /* ===============(/0) Base ==================== */
    /* ===============(1) Header ==================== */

    /* ===============(/1) Header ==================== */

    /* ===============(2) Main ==================== */

    #product figure {
        position: relative;
        width: 25%;
        margin-bottom: 7em; 

    }
    
    #product a {

        /* color: #fff; */
    }

    #product figure .roundedImage {
        /* position: relative; */
    }

    figure figcaption {
        display: none;
        position: absolute;
        top: 25%;
        right: -50%;
        left: -50%;
    }
    #product figure a:hover  img{
        opacity: .5;
    }

    #product figure a:hover figcaption {
        display: block;
    }



    /* ===============(/2) Main ==================== */
    /* ===============(3) Footer ==================== */


    /* ===============(/3) Footer ==================== */

}


/* ===============(/4) Media Queries ==================== */



