/* yellow : R=254 V=231 B=161 rgba(254, 231, 161, 0.5)  */
/* red : R=137 V=88 B=100 rgba(137, 88, 100, 0.5)  */
/* green : R=219 V=230 B=188 rgba(219, 230, 188, 0.5)  */

/* ===============(0) Base ==================== */

html {
    font-size: 16px;
    
}

body {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
    /* margin-top: 10em;  */
}

section {
    /* margin-bottom: 6em ; */
}

h1,h2,h3,h4 {
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
}

h1,h2,h3 { 
    padding-left: .8em ;
}



h3 {
    margin-top: 3em;
}

h1{
    font-size: 2em;
    font-weight: 400;
    padding: .5em 0;
    text-transform: uppercase;
    color: #fff;
}


h2{
    font-size: 2em;
    font-weight: 300;
    padding: .5em 0;
    text-transform: uppercase;
    color: #fff;
}


*,*::after,*::before {
    box-sizing: inherit;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.columnLeft p {
    /* float: left;  */
    /* max-width: 60%; */
    line-height: 1.3em;
}

.columnRight p {
    /* float: left;  */
    /* max-width: 60%; */
    line-height: 1.3em;
}

.visible {
    display: none;
}

.noMobile {
    display: none;
}

section::before { 
    display: block; 
    content: " "; 
    /* margin-top: -5em;  */
    height: 5em; 
    visibility: hidden; 
    pointer-events: none;
  }

/* ===============(/0) Base ==================== */

/* ===============(1) Header ==================== */

header {
    /* display:none; */
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

#icon_burger {
    position: absolute;
    top: 1em;
    right: 1.5em;
    font-size: 2em;
    cursor: pointer;

}

.backdrop {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    content: " ";
    z-index: -99;
}

#menuTop {
    background-color: #fff;
    
    /* width: 75vw; */
    box-shadow: 0em .1em .5em #c5c5c5;
    z-index: 100;
}

#logoHeader,#logoFooter {
    width: 8em;
    margin: 1em auto;
}

/* #menuTop:hover {
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
} */

#menuTop ul {
    list-style: none;
    margin: 0 auto;
    padding-left: 3em;
    
}

#menuTop ul li {
    font-size: 16px;
    padding: 1em 0;
    text-align: left;
    
}

#menuTop ul li a{
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
}

.borderLeft {
    border-left: 2px solid;
    padding-left: .8em ;
}

.borderRight {
    border-right: 2px solid;
    padding-right: .6em ;
}

.borderLignRed {
    border-color: rgba(137, 88, 100, 1);
}
.borderLignYellow {
    border-color: rgba(254, 231, 161, 1);
}
.borderLignGreen {
    border-color: rgba(219, 230, 188, 1);
}

/* ===============(/1) Header ==================== */

/* ===============(2) Main ==================== */



.imageStart {
    position: relative;
    /* background-color: #fff; */
    background-image: url(../images/banner.jpg);
    background-size: cover;
    /* background-position-x: left; */
    background-position: 0% 100%; 
  background-repeat: no-repeat;
    height: 25em;
}

.lignStart {
    position: absolute;
    bottom: 1em;
    width: 100%;
    
}

.colorLignRed {
    background-color: rgba(137, 88, 100, 1);
}
.colorLignYellow {
    background-color: rgba(254, 231, 161, 1);
}
.colorLignGreen {
    background-color: rgba(219, 230, 188, 1);
}

#about #teamImage {
    position: absolute;
    top: 1em;
    right: 0;
    left: -50%;

}

#project #prixImage {
    position: absolute;
    top: 1em;
    right: 0;
    left: -50%;

}

div .squaredImage {
    position: relative;
    width: 15%;
    height: 10em;
    overflow:hidden;
}


#product figure {
    display: flex;
    justify-content: center;
}

figure {

    position: relative;
    margin: .5em;
    
}

figure .roundedImage {
    position: relative;
    width: 12.5em;
    height: 12.5em;
    border-radius: 50%;
    overflow:hidden;
}


#product figure img{
    position: absolute;
    top: 0;
    right: -20%;
    width: 165%;
    
    /* height: auto; */
}



figure span.productText {
    /* position: absolute; */
    top: 15em;
    margin: 0 auto;
    margin-bottom: 2em;
    /* position: absolute; */
    text-align: center;
}
span.productText :nth-child(n) {
    margin: .5em 0;
    /* padding: .5em 0; */
}

#product a {
    color: #000;
    text-decoration: none;
}

.monthLeg{
    border-top: 2px solid;
    border-color: rgba(137, 88, 100, 1);
}

#product .listLegume {
    display: inline-block;
    margin: .4em .5em;
    /* text-align: center; */
}
#product .listLegume ul {
    list-style: none;
}

.pictoLeg {
    /* width: 200px; */
    transform: rotate(-30deg);
    color: aqua;
}

#carotte {
    fill: rgba(219, 230, 188, 1);
}

div .position {
    display: block;
    margin-left: auto;

}

.button {
    /* background-color: #4CAF50; Green */
    border: none;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: white;
    padding: .5em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    /* font-size: 2em; */
  }
  .button:hover{
    /* background-color: #4CAF50; Green */
    border: none;
    /* border: 1px solid #000; */
    text-align: center;
    
  }


  iframe {
    width: 20em;
    height: 20em;
  }

  #socialNetwork {
      display: inline-block;
  }

/* ===============(/2) Main ==================== */

/* ===============(3) Footer ==================== */

footer {

    background-color: #c5c5c5;

    margin: 0;
    padding: 0;

}

footer p {
    margin: 0;
    padding: 1em 0 2em;
    text-align: center;
}

/* ===============(/3) Footer ==================== */

/* ===============(4) Media Queries ==================== */
@media all and (min-width:425px) {
    .paragraph {
        /* padding: 1em 0; */
        max-width:80%;
    }

    .columnRight {
        min-width: 50%;
        /* margin-left: auto; */
        margin-right: 0; 
    }
    
    .columnRight h3,.columnRight h4 {
        text-align: end;
        
        
        
    }

    .columnRight h3 {
        padding-right: .8em;
    }

    .columnRight ul {
        /* list-style: none; */
        
    }

    .columnRight li {
        display: block;
        text-align: right;
        /* width: 30%; */
        text-decoration: none;
        padding: .2em  .8em .2em 0 ;
        margin-left: auto;
        margin-right: 0;
    }
}


@media all and (min-width:768px) {

    /* ===============(0) Base ==================== */
    html {
        /* font-size: 18px; */
        scroll-behavior: smooth;
    }

    .paragraph {
        /* padding: 1em 0; */
        max-width:70%;
    }

    .noMobile {
        display: block;
    }

    .logo {
        display: flex;
        justify-content: center;
    }

    section::before {  
        /* margin-top: -8em;  */
        height: 8em; 

    }

    .flexWrap {
        display: flex;
        flex-flow: row;
        justify-content: space-evenly;
        margin-top: 4em;
    }

    .flexPart {
        /* margin:1em;  */
        /* flex: 0.5; */
    }

    /* .floatLeft {
        float: left;
    }

    .floatRight {
        float: right;
    }

    .clearfix::after {
        content: "";
        clear: both;
        display: table;
      } */

      .columnRight {
        max-width: 60%; 
    }
    
    h3 {
        margin-top: 6.25em;
    }

    /* ===============(/0) Base ==================== */
    /* ===============(1) Header ==================== */

    .visible {
        display: block;
    }
    

    #menuTop ul {
        width: 88vw;
        padding: 0em;
        display: flex;
        justify-content: space-around;
    }



    #menuTop ul li a{
        /* font-size: 16px; */
    }

    #icon_burger {
        display: none;
    }
    nav {
        display: block;
    }

    .backdrop {
        display: none;
        /* position: absolute;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: transparent; */
    }

    /* ===============(/1) Header ==================== */

    /* ===============(2) Main ==================== */

    #product #gallery {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #product figure {

        
        margin: 1em;
        /* max-width: 30%; */
        /* float: left; */
    }
    
    

    div .position {
        display: block;
        float: right;
        margin-right: 4%;
        margin-top: -13em;
    
    }
    
    /* ===============(/2) Main ==================== */
    /* ===============(3) Footer ==================== */


    /* ===============(/3) Footer ==================== */

}
@media all and (min-width:1024px) {

    /* ===============(0) Base ==================== */
    
    
    .paragraph {
        /* padding: 1em 0; */
        max-width: 60%;
    }

    #menuTop {
        display: flex;
        align-items: flex-end;

    }

    section::before {  
        /* margin-top: -8em;  */
        height: 5em; 

    }

    /* ===============(/0) Base ==================== */
    /* ===============(1) Header ==================== */

    #menuTop ul {
        margin-right:1em; 
    }

    #menuTop li{
        display:inline-block;
        /* min-width:50px; */
      }
      #menuTop li a {
          text-decoration:none;
          line-height: 2em;
          /* padding: 0 10px; */
          text-align: center;
          /* font-size: 1.3em; */
          color: #444444;
          /* text-transform: uppercase; */
      }
      #menuTop li a:after {
          content: '';
          display: block;
          /*margin: auto;*/
          height: 2px;
          width: 0;
          background: transparent;
          transition: width .2s ease, background-color .2s ease;
      }
      #menuTop li a:before {
          content: '';
          display: block;
          /*margin: auto;*/
          height: 2px;
          width: 0;
          background: transparent;
          transition: width .2s ease, background-color .2s ease;
      }
      #menuTop li a:hover:before, #menuTop li a:hover:after {
          width: 100%;
          background: #444;
      }

    /* #colorAbout,#colorProduct {
        background: rgba(137, 88, 100, 1);
    }
    #colorPoject,#colorSeller {
        background: rgba(254, 231, 161, 1);
    }
    #colorActivities,# {
        background: rgba(219, 230, 188, 1);
    } */

    /* ===============(/1) Header ==================== */

    /* ===============(2) Main ==================== */

    #product figure {
        position: relative;
        width: 25%;
        margin-bottom: 2em; 

    }
    
    #product a {

        /* color: #fff; */
    }

    #product figure .roundedImage {
        /* position: relative; */
    }

    /* figure span {
        display: none;
        position: absolute;
        top: 25%;
        right: -50%;
        left: -50%;
    } */
    #product figure a:hover  img{
        opacity: .5;
    }

    #product figure a:hover figcaption {
        display: block;
    }

    div .position {
        display: block;
        margin: 0 auto;
    
    }

    iframe {
        width: 25em;
        height: 25em;
      }
    /* ===============(/2) Main ==================== */
    /* ===============(3) Footer ==================== */


    /* ===============(/3) Footer ==================== */

}


/* ===============(/4) Media Queries ==================== */



